<!DOCTYPE html>
<html>
  <link><title>Jogo da Torre de Hanoi</title>

    <link href="https://fonts.googleapis.com/css2?family=Kavoon&family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Burned&display=swap" rel="stylesheet">
    </link>
    <link rel="stylesheet" href="../static/style_game.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <body>    
    <header class="menu-main">
      <nav>
        <a href="/" class="menu">HOME</a>
        <a href="/table" class="menu">TABELA</a>
        <a href="/game" class="menu" id="game">GAME</a>
        <ul>
          <li>
            <div class="mobile-menu">
              <div class="line1"></div>
              <div class="line2"></div>
              <div class="line3"></div>
            </div>
            <ul class="dropdown">
              <li><a class="menu3" href="/">HOME</a></li>
              <li><a class="menu3" href="/table">TABELA</a></li>
              <li><a class="menu3" href="/game">GAME</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div id="dropdown-menu" class="oculto"></div>
    </header>
    <div class="titulobox"><h1 class="textotitulo">Torre de Hanoi</h1></div>
    <form method="POST" class="banana">
    <p class="subtitulo"><label for="numero">Número de discos:</label>
    <input type="number" id="numero" name="numero" min="1" required />    
    <button type="submit">Iniciar Simulação</button></p>

    <script>
      let towers = [[5,4,3,2,1],[],[]];
      let positions = ['p1', 'p2', 'p3', 'p4', 'p5', 'p0', 't1', 't2', 't3'];
      let movements = [];

      function render(){
          towers.forEach((tower, towerid) => {
              tower.forEach((disk, position) => {
                  let d = document.querySelector('.d'+disk);
                  positions.forEach(pos => {
                      d.classList.remove(pos);
                  });
                  d.classList.add('t'+(towerid+1));
                  d.classList.add('p'+(position+1));
              });
          });
      }

      function move(fromtower, totower){
          if(!towers[fromtower].length) return;
          let disk = towers[fromtower].pop();
          if(towers[totower].length){
              if(towers[totower][towers[totower].length-1]<disk){
                  return towers[fromtower].push(disk);
              }
          }
          let d=document.querySelector('.d'+disk);
          d.classList.add('p0');
          towers[totower].push(disk);
          setTimeout(render,1000);
      }

      function clicktower(n){
          if(movements.length && movements[0].length == 1){
              movements[0].push(n);
              let fromTower = movements[0][0];
              let toTower = movements[0][1];
              move(fromTower, toTower);
              movements.shift();
          } else {
              movements.unshift([n]);
          }
          console.log(movements);
      }

      setInterval(() => {
          if(movements.length && movements[movements.length-1].length == 2){
              let m=movements.pop();
              move(m[0], m[1]);
          }
      }, 3000);

      document.querySelectorAll('.tower').forEach((tower, index) => {
          tower.addEventListener('click', () => {
              clicktower(index);
          });
      });
    </script>

    <div class="hanoi">
    <div class="disk d1 t1 p5"></div>
    <div class="disk d2 t1 p4"></div>
    <div class="disk d3 t1 p3"></div>
    <div class="disk d4 t1 p2"></div>
    <div class="disk d5 t1 p1"></div>
    <div class="tower" onclick="clicktower(0)"></div>
    <div class="tower" onclick="clicktower(1)"></div>
    <div class="tower" onclick="clicktower(2)"></div>
    </div>

    </form>
    {% if passos %}
    <div class="divido">
    <h2 class="segundo">Passos:</h2>
    <ul class="passos">
      {% for passo in passos %}
      <li>{{ passo }}</li>
      {% endfor %}
    </ul>
    </div>
    {% endif %}

    <footer>
      <nav class="rodap">
        <a href="/" class="rodap" id="emp">HOME</a>
        <a href="/game" class="rodap">GAME </a>
        <a href="/table" class="rodap" id="rest">TABELA</a>
      </nav>
      <hr />
      <p class="rod">Brasil</p>
      <p class="rod">Política de privacidade</p>
      <p class="rod">Termos de Uso</p>
      <p class="dir">&copy;2024 <i>Todos os direitos reservados.</i></p>
    </footer>
  </body>
</html>