<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integrantes</title>
    <link rel="stylesheet" href="./../static/style_img.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Kavoon&family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Burned&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <h1>INTEGRANTES</h1>
    <main>
        <section>
            
        </section>
        <section id="fotos">
            <article>
    <h2 class="front">FrontEnd</h2>
    <div class="imagens">
        <a href="https://im.ge/i/Ariel.WGazir"><img src="https://i.im.ge/2024/04/12/WGazir.Ariel.png" alt="Ariel"  class="Ariel"></a>
        <p class="am">Ariel-19 anos</p>

        <a href="https://im.ge/i/Icaro.WGIG2q"><img src="https://i.im.ge/2024/04/12/WGIG2q.Icaro.png" alt="Icaro" class="Icaro"></a>
        <p class="im">Icaro-17 anos</p>

        <a href="https://im.ge/i/Marcelo.WGL3Vp"><img src="https://i.im.ge/2024/04/12/WGL3Vp.Marcelo.png" alt="Marcelo" class="Marcelo"></a>
        <p class="mm">Marcelo-18 anos</p>

        <a href="https://im.ge/i/Liminhakk.WGUr9X"><img src="https://i.im.ge/2024/04/12/WGUr9X.Liminhakk.png" alt="Liminhakk" class="Gabriel"></a>
        <p class="gm">Gabriel-18 anos</p>

        <a href="https://im.ge/i/Matheus.WGUczF"><img src="https://i.im.ge/2024/04/12/WGUczF.Matheus.png" alt="Matheus" class="Matheus"></a>
        <p class="thm">Matheus-18 anos</p>

        <a href="https://im.ge/i/Luca.WGhFOc"><img src="https://i.im.ge/2024/04/12/WGhFOc.Luca.png" alt="Luca" class="Luca"></a>
        <p class="lm">Luca-17 anos</p>
    </div>
        </article>
    </section>
</main>

<main>
    <article>
        <h2 class="back">Backend</h2>
     <div class="imgback">
        <a href="https://im.ge/i/Ythallo.WG0DFF"><img src="https://i.im.ge/2024/04/12/WG0DFF.Ythallo.png" alt="Ythallo" class="Ythallo"></a>
        <p class="ym">Ythalo Ornelas-20</p>

        <a href="https://im.ge/i/Matheus2.WG9LD8"><img src="https://i.im.ge/2024/04/12/WG9LD8.Matheus2.png" alt="Matheus2" class="matheusramos"></a>
        <p class="mr">Matheus Ramos</p>

        <a href="https://im.ge/i/Ney.WG9fdy"><img src="https://i.im.ge/2024/04/12/WG9fdy.Ney.png" alt="Ney" class="ney"></a>
        <p class="nm">Neyverson-18</p>

        <a href="https://im.ge/i/Gustavo-Fragoso.WG9enh"><img src="https://i.im.ge/2024/04/12/WG9enh.Gustavo-Fragoso.png" alt="Gustavo Fragoso" class="gfm"></a>
        <p class="gf">Gustavo Fragoso</p>

        <a href="https://im.ge/i/Caio.WGjakW"><img src="https://i.im.ge/2024/04/12/WGjakW.Caio.png" alt="Caio" class="cm"></a>
        <p class="cp">Caio Proença</p>

        <a href="https://im.ge/i/Pedro-Henrique.WGjmty"><img src="https://i.im.ge/2024/04/12/WGjmty.Pedro-Henrique.png" alt="Pedro Henrique" class="phm"></a>
        <p class="ph">Pedro Henrique Souza</p>


        <a href="https://im.ge/i/Imagem-do-WhatsApp-de-2024-04-12-as-11-06-59-b27492bb.ZNeos1"><img src="https://i.im.ge/2024/04/30/ZNeos1.Imagem-do-WhatsApp-de-2024-04-12-as-11-06-59-b27492bb.jpeg" alt="Imagem do WhatsApp de 2024 04 12 as 11 06 59 b27492bb" class="mg"></a>
        <p class="mestre">Gustavo Oliveira</p>
        
     </div>
    </article>
</main>
</body>
</html>